<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="descrition" content="simple page contain 3pages in one site">
  <title>f_w_j.com</title>
  <link rel="stylesheet"href="style.CSS">
  <style>
  a
  {
  font-size:20px;
  }
  
  label
        {
       text-align:center;
       font-family:arial;
        font-weight:bold;
          font-size:50px;
     }
	 

 p
    {
	color:black;
	text-align:center;
	font-weight:bold;
	font-family:arial;
	font-size:60px;
	 PADDING:40px
  }
  body {
        background-image: url(https://3.bp.blogspot.com/-PTE6LkVJQys/WQdE62kIUXI/AAAAAAAACq8/AnrxgE_UPEwK6RyztGY90k1CMWsAvUatwCLcB/s640/%25D8%25A3%25D9%2581%25D8%25B6%25D9%2584%2B%25D8%25A7%25D9%2584%25D9%2585%25D9%2588%25D8%25A7%25D9%2582%25D8%25B9%2B%25D9%2584%25D8%25AA%25D8%25AD%25D9%2585%25D9%258A%25D9%2584%2B%25D8%25AE%25D9%2584%25D9%2581%25D9%258A%25D8%25A7%25D8%25AA%2B%25D8%25A8%25D8%25AC%25D9%2588%25D8%25AF%25D8%25A9%2B%25D8%25B9%25D8%25A7%25D9%2584%25D9%258A%25D8%25A9%2B%25D9%2588%25D8%25A8%25D8%25AF%25D9%2588%25D9%2586%2B%25D8%25AD%25D9%2582%25D9%2588%25D9%2582%2B%25D8%25A7%25D9%2584%25D9%2585%25D9%2584%25D9%2583%25D9%258A%25D8%25A9-wallpaper2.jpg) ;
       
        background-repeat : no-repeat;
        background-position: center center;
        background-attachment: fixed;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size:cover;
        background-size: cover;
		text-align:center;
		font-family:arial;
		
		}
       } 
	 
  </style>
   </head> 
   <body>
  <p >new register </p>
   <label class="top" font-weight:bold;>NAME</lable>
  <input type="text" name="https://www.facebook.com/ahmed.elshabah.58173" placeholder="pur your name"><br>
  <br>
  <label class="top" >E-MAIL</lable>
  <input type="text" name="https://www.facebook.com/ahmed.elshabah.58173"placeholder="E-MAIL"><br>
  <br>
  <a href="file:///E:/web%20project/simple%20layout.html">complete register</a><br>
 <a href="file:///E:/web%20project/simple%20layout.html">Click here to go to page 2</a>
 </html>82%25D9%2588%25D9%2582%2B%25D8%25A7%25D9%2584%25D9%2585%25D9%2584%25D9%2583%25D9%258A%25D8%25A9-wallpaper2.jpg) ;
       
        background-repeat : no-repeat;
        background-position: center center;
        background-attachment: fixed;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size:cover;
        background-size: cover;
		text-align:center;
		font-family:arial;
		
		}
       } 
	 
  </style>
   </head> 
   <body>
  <p >new register </p>
   <label class="top" font-weight:bold;>NAME</lable>
  <input type="text" name="https://www.facebook.com/ahmed.elshabah.58173" placeholder="pur your name"><br>
  <br>
  <label class="top" >E-MAIL</lable>
  <input type="text" name="https://www.facebook.com/ahmed.elshabah.58173"placeholder="E-MAIL"><br>
  <br>
  <a href="file:///E:/web%20project/simple%20layout.html">complete register</a><br>
 <a href="file:///E:/web%20p